/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */


 .bemis-tm-mainpage-main-container{
     display:flex;
     flex-wrap: wrap;
 }

 .bemis-tm-mainpage-sidebar{
    width:30%;
    color:#707070;
    border-right:solid 1px #A5A5A5;
    box-shadow: #000000;
    background: #EBEBEB;    
    text-align: center;
    padding:15px;
}

.bemis-tm-mainpage-sidebar h1{    
    font-size: 39px;
    font-weight: bold;
    color: #707070;
}
.bemis-tm-sidebar-main-menu{    
    margin: 50px 0;    
    width: 50%;
    margin: auto;
    text-align: left;
}
.bemis-tm-sidebar-main-menu-element{
    text-align: left;
}

.bemis-tm-sidebar-main-menu-element span{
    font-size: 22px;
}

.bemis-tm-mainpage-content{
    width:70%;
}